:80 {
	encode zstd gzip

	handle_path /hls/* {
		forward_auth backend:3000 {
			uri /api/v1/hls-auth?path={http.request.orig_uri.path}
			copy_headers Cookie Authorization
		}
		reverse_proxy mediamtx:8888
	}

	@backend path /api* /api-docs* /files*
	handle @backend {
		reverse_proxy backend:3000
	}

	handle {
		reverse_proxy dashboard:8088
	}
}
