{
  "TARGET_DIRECTORY": "~/ego-flow-data",
  "PUBLIC_HTTP_PORT": 80,
  "RTMP_PORT": 1935,
  "RTMPS_PORT": 1936,
  "HLS_PORT": 8888,
  "MEDIAMTX_API_PORT": 9997,
  "CORS_ORIGIN": "*",
  "WORKER_CONCURRENCY": 2,
  "DELETE_RAW_AFTER_PROCESSING": true,
  "JWT_EXPIRES_IN": "24h",
  "JWT_REFRESH_THRESHOLD_SECONDS": 21600
}
